# Puerto donde correrá el servidor Express
PORT=5000

# URL del Frontend (Next.js) permitido para hacer peticiones (CORS)
FRONTEND_URL=http://localhost:3000

# Configuración futura de la Base de Datos PostgreSQL (cuando actives Prisma)
DATABASE_URL="postgresql://vmdigital_admin:vmdigital_secure_pass_2026@localhost:5432/vmdigital_core?schema=public"

# Clave secreta para la firma de tokens JWT (Seguridad de usuarios de tus clientes)
JWT_SECRET=una_cadena_super_secreta_y_larga_para_tu_agencia_2026